<div class="row">
  <div class="col-sm-6" *ngIf="alunoSelected">

    <div class="row">
      <div class="mr-auto">
        <app-title [title]="'Cód.Aluno:  ' + alunoSelected.id"></app-title>
      </div>
      <div class="mt-1">
        <button class="btn btn-outline-danger" (click)="voltar()">Fechar</button>
      </div>
    </div>

    <form [formGroup]="alunoForm" (submit)="alunoSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Name/Nome</label>
        <input type="text" formControlName="name" class="form-control" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Last name/Sobrenome</label>
        <input type="text" formControlName="lastName" class="form-control" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Telephone/Telefone</label>
        <input type="text" formControlName="telephone"  class="form-control" >
      </div>
    </form>

    <div class="form-grop">

      <button class="btn btn-success" [disabled]="!alunoForm.valid">Salver</button>
    </div>

    </div>

    <div [ngClass]="{'col-sm-6': alunoSelected,  'col-sm-12' : !alunoSelected}" >
      <app-title [title]="title"></app-title>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Telefone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let aluno of alunos"
         style="cursor: pointer;" (click)="alunoSelect(aluno)">
          <th scope="row"> {{aluno.id}} </th>
          <td> {{aluno.name}} </td>
          <td>{{aluno.lastName}}</td>
          <td>{{aluno.phone}}</td>
        </tr>
      </tbody>
    </table>
    </div>

</div>
